#mapDiv {
	    padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
}
#buttonPanel{
		  position: absolute;
		  top: 20px;
		  left: 60px; 
}
body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
html{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
#button1{
	width: 150px;
	height: 50px;
	border-color: black;
background-color: rgb(255, 255, 0);
}
#button2{
	width: 150px;
	height: 50px;
	border-color: black;
	background-color: rgb(0, 200, 0);
}
#button3{
	background:url("rastplats.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button4{
	background:url("naturvärde.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button5{
	background:url("naturreservat.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button6{
	background:url("vindskydd.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button7{
	background:url("cafe.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button8{
	background:url("paddla.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button9{
	background:url("grillplats.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
#button10{
	background:url("badplats.png");
	width: 56px;
	height: 50px;
	border-color: black;
	background-size: cover;
	text-indent: -9999px;
}
